# ---- .NET / ASP.NET Core ----
bin/
obj/
**/*.user
**/*.suo
*.vspscc
.vs/

# ---- Node / Frontend ----
node_modules/
dist/
build/
npm-debug.log
yarn-error.log

# ---- Docker ----
**/.docker/
**/Dockerfile.*
!backend/Dockerfile
!frontend/Dockerfile

# ---- Banco de dados ----
pgdata/
*.db

# ---- IDEs e configs locais ----
.idea/
.vscode/
*.env
*.local
*.log

# ---- Sistema Operacional ----
Thumbs.db
.DS_Store
